/* NL Wallet button */
nl-wallet-button::part(button) {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #ffffff;
  background-color: #2563eb;
  cursor: pointer;
}

nl-wallet-button::part(button)::before {
  content: " ";
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

nl-wallet-button::part(button):hover {
  background-color: #1d4ed8;
}

nl-wallet-button::part(button):focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow:
    0 0 0 2px #ffffff,
    0 0 0 4px oklch(62.3% 0.214 259.815),
    0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

nl-wallet-button::part(button)::before {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAUCAYAAABxnDbHAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAATFJREFUSIntlL1KA0EYRU8miX+PYGWrYAKmEPERBG2trH0dfQQLwcouxiewUVAQX8GfwiomSJYci2xgjbs6K7KVFxZ2hvvdMzsz+6GittSe+qwO/Kqj1Jf3nOX4sxqkuRcpB9R2ASirF7VZAN35oXZ2AS3Uy8iC3QJoQ30sAe4FoEOcDgrmE+A0MgOgU1OHwEKE+R1YBl4zcwEYA23gNhI6DEAz0jwP7GfGD8B1Cr4D7iNz5gJQjzTD5y0eAUuA6fg8MqMeSgABNoG19H0DWM1Aza3IU4lbN9XxzO3dVk/UJDagUfJLAQ6BIZMz3gNWygbU1Pht+SOVPdN/aGnouGJmEpj85FVqFIB+xdC3wKR/VqmbmtoGroDFCoADYGvaylpqV31S+79ojd+pn+Z21XWVD3MMRVYgarUcAAAAAElFTkSuQmCC")
    no-repeat center center / contain;
}
