{% extends "admin/base.html" %}
{% block content %}
<form action="/admin/reset" method="post" class="container mx-auto p-6">
    <h1 class="text-3xl font-semibold mb-3">Reset de applicatie-state</h1>

    <p class="mb-5">Dit zal de applicatie-state resetten naar de initiële staat. Weet je zeker dat je dit wilt doen?</p>

    <p class="mb-5">Dit betekent dat alle data die je hebt ingevoerd zal worden verwijderd.</p>

    <button
        class="inline-flex items-center px-6 py-3 bg-green-600 text-white text-center rounded-md hover:bg-green-700 transition-colors"
        type="submit"><svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2 -ml-1" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M19.933 13.041a8 8 0 1 1-9.925-8.788c3.899-1 7.935 1.007 9.425 4.747" />
                <path d="M20 4v5h-5" />
            </g>
        </svg> Reset state</button>
</form>
{% endblock %}
